.auth_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 360px;
    background-color: wheat;
    padding: 1rem;
    border-radius: 6px;
}
.auth_item{
    display: flex;
    flex-direction: column;
}
.auth_item label{
    color: gray;
    font-size: 14px;
    font-weight: 500;
}
.auth_container{
    display: flex;
    flex-direction: column;
    gap:1rem ;
}
.auth_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.auth_header svg{
    margin: 0.6rem;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    background-color:#f5f5f5 ;
    border-radius: 4px;
    padding: 0.2rem;
    color:#333 ;

}
.auth_heading{
    font-size: 1.2rem;
    font-weight: 600;
}
.auth_title{
    font-size: 20px;
    color: gray;
}
.auth_options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 14px;
}
.auth_container a{
    text-decoration: none;
}


.otp_input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.otp_input{
    text-align: center;
    font-weight: 600;
}

.timer{
    color: blue;
    font-size: 14px;
    padding:1rem 0 ;
}

